<?xml version="1.0" encoding="UTF-8"?>
<plugin>
    <name>GraphQL API</name>
    <key>graphql</key>
    <description>Adds support for GraphQL based API for Oxwall social network</description>
    <author>Purusothaman Ramanujam</author>
    <authorEmail>purushoth.r@gmail.com</authorEmail>
    <authorUrl>http://www.iYaffle.com</authorUrl>
    <developerKey>1ee49389d3159fa543f7f3333a5c5a91</developerKey>
    <build>1</build>
    <copyright>(C) 2017 Purusothaman Ramanujam. All rights reserved.</copyright>
    <license>http://www.iYaffle.com</license>
    <licenseUrl>http://www.iYaffle.com</licenseUrl>
</plugin>